
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ececec;
}

.profile-head {
  background-image: url('../img/where-tahrs-live.jpg');
  background-size: cover;
  color: white;

  .profile-name {
    text-transform: uppercase;
  }

  .prof_pic {
    border-radius: 500px;
    width: 200px;
    height: 200px;
    border: 5px solid white;
    margin: 15px auto auto;
  }

  .bio-txt {
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.menu_bar {
  height: 80px;
  background-color: white;
  box-shadow: 1px 2px 5px gray;
  z-index: 1000;

  .nav {
    text-align: center;

    li {
      margin-right: 30px;
      line-height: 65px;
      cursor: pointer;
      display: inline;

      &:hover {
        color: rgb(231, 76, 61);
      }

      a {
        display: inline-block;
        color: inherit;

        &:hover {
          background-color: inherit;
          font-weight: 500;
        }

        &:active {
          background-color: inherit;
        }

        &:visited {
          background-color: transparent;
        }
      }
    }
  }
}

.stick-top {
  position: fixed;
  top: 0;
}

.body-pad {
  padding-top: 80px;
}

.heading {
  margin-bottom: 10px;
}

.top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #546e7a;
  color: white;
  font-size: 30px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 2px 1px 3px gray;
  cursor: pointer;
  z-index: 999;
  transition: box-shadow 0.3s ease-in-out;
  &:hover {
    box-shadow: 2px 1px 10px gray;
  }
}

.content {
  padding-top: 40px;
}

.panel_mat {
  box-shadow: 1px 2px 5px gray;
  padding: 0;
  background-color: white;
  margin-bottom: 10px;
}

.panel_mat_head {
  position: relative;
  height: 250px;
  border-radius: 3px;
}

.panel_mat_head img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

  border-top-left-radius: 3px;

  border-top-right-radius: 3px;

}

.panel_mat_head span {
  color: white;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding-left: 5px;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  font-size: 20px;

}

.panel_mat_body {
  color: gray;
  background-color: white;
  padding: 10px;
  padding-bottom: 2px;
  z-index: 3;
}

.panel_tech {
  padding-right: 5px;
  height: 25px;
  background: white;
  margin-bottom: 5px;
  margin-top: 5px;
}

.panel_mat_line {
  height: 1px;
  background-color: #ececec;
}

.panel_mat_footer {
  color: #4dd0e1;
  background-color: white;
  padding: 10px;
  border-bottom-left-radius: 2px;

  border-bottom-right-radius: 2px;
  cursor: pointer;
}

.gpa-title {
  margin-bottom: 0;
}

.gpa {
  font-size: 18px;
  margin-bottom: 15px;
  margin-left: 20px;
}

.ac-container input:checked ~ article.ac-school {
  height: 280px;
}

.ac-school table {
  margin-left: 15px;
}

.ac-school table td {
  border-top: none !important;
}

.no-pad-top {
  padding-top: 0;
}

.footer {
  background-color: white;
  box-shadow: 1px -2px 5px gray;
  margin-top: 20px;
  text-align: center;
  padding: 15px 0 15px 0;
  a {
    font-size: 20px;
    color: black;
    text-decoration: none;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

.proj_row {
  margin-top: 20px;
}

.tech {
  float: right;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &:not(:first-of-type) {
    margin-left: 5px;
  }
}

.tech-java {
  background-image: url('../img/tech/java.png');
}

.tech-opencv {
  background-image: url('../img/tech/opencv.png');
}

.tech-node {
  background-image: url('../img/tech/node.png');
  width: 60px;
}

.tech-arduino {
  background-image: url('../img/tech/arduino.png');
}

.tech-pi {
  background-image: url('../img/tech/pi.png');
}

.tech-angular {
  background-image: url('../img/tech/angular.png');
  width: 120px;
}

.tech-ideamart {
  background-image: url('../img/tech/ideamart.png');
  width: 90px;
}

.tech-php {
  background-image: url('../img/tech/php.svg');
  width: 60px;
}

.tech-mysql {
  background-image: url('../img/tech/mysql.png');
  width: 50px;
}

.tech-jquery {
  background-image: url('../img/tech/jquery.png');
  width: 90px;
}

.tech-htmlcss {
  background-image: url('../img/tech/htmlcss.png');
  width: 60px;
}

.tech-android {
  background-image: url('../img/tech/android.png');
}

.tech-lua {
  background-image: url('../img/tech/lua.gif');

}

.tech-bootstrap {
  background-image: url('../img/tech/bootstrap.png');
}

.tech-gdx {
  background-image: url('../img/tech/gdx.png');
  width: 60px;
}

.tech-js {
  background-image: url('../img/tech/js.png');

}

.tech-laravel {
  background-image: url('../img/tech/lara_ico.png');

}

.cd-timeline-content {
  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 16px;
  }

  .cd-read-more {
    border-radius: 0 !important;
    padding: .6em 0.8em !important;
  }
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}
